**/.git
**/.gitignore
**/.dockerignore
**/Dockerfile*
**/docker-compose*.yml

**/.DS_Store
**/.idea
**/.vscode

**/bin
**/obj
**/node_modules
**/dist
**/__pycache__
**/venv
**/.venv

**/*.db
**/*.db-journal
**/uploads/*
!**/uploads/.gitkeep

**/.env
**/.env.local
**/*.local

README.md
README.*.md
docs/
LICENSE
