# JWT
JWT_SECRET=TJJIUo1VaVRmNps58MG6VYSft2GMyhi1S7vkBISulpNnNQMQ8cZ4jSBxldTT09bv
JWT_ISSUER=visualizador-salario
JWT_AUDIENCE=visualizador-salario-client
JWT_ACCESS_TOKEN_MINUTES=30
JWT_REFRESH_TOKEN_DAYS=7

# CORS
CORS_ORIGINS=http://localhost:5173,http://localhost:8080

# Storage
MAX_UPLOAD_MB=10

# Frontend
VITE_API_URL=/api
